h1 {
    color:blue;
    background-color: yellow;
    font-family: sans-serif;
}
h2 {
    color: black;
    background-color: rgb(0, 128, 28);
    font-family: sans-serif;
}
h3 {
    color: black;
    background-color: white;
    font-family: sans-serif;
}
.image_link {
    height: 170px;
    width: 18.5vw;
    margin: 1% 0 1% 1%;
}

.image_link:hover {
    filter: grayscale(70%);
}